<p id="notice"><%= notice %></p>

<h1>Listing products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm">
        <%= image_tag(product.image_url, class: "img-fluid") unless product.image_url.nil? %>
        <a href="#"><%= product.name %></a>
        <%= product.description %>
        <%= product.color %>
        <%= product.price %>
      </div><!-- /col -->
    <% end %>
  </div>
</div>


<%= link_to 'New Product', new_product_path %>
