<div class="index-content">
  <div class="container">
   <div class="row">
    <div class="col-sm-12 col-lg-6">
     <%= image_tag(@product.image_url, class: "img-fluid") if @product.image_url%>
    </div>

<p class="productname-show">
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p class="product-description">
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<strong>Price:</strong>
 <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

  </div>
 </div>
</div>
